<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/core/static/core/css/style.css">
</head>
<body>
    <div id="menu"></div>
    <form class="row g-3 needs-validation" id="form-ingreso" novalidate>   
        <div class="container my-5">
            <h1>Ingresar</h1>
            <!--Campo de Correo-->
            <div class="my-3">
                <div class="col col-xl-6 col-lg-4 col-md-5 col-sm-12">
                    <label for="correo" class="form-label">CORREO ELECTRONICO</label>
                    <input required placeholder="Ej: carlosmolina@gmail.com" type="email" class="form-control" id="correo" name="correo">
                </div>
            </div>
            <!--Campo de Contraseña-->
            <div class="mb-3">
                <div class="col col-xl-6 col-lg-4 col-md-5 col-sm-12">
                    <label for="contraseña" class="form-label">CONTRASEÑA</label>
                    <input required placeholder="Ej: password123" type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <!--Botonera-->
            <button type="submit" class="btn btn-primary boton" id="btnGuardar">Ingresar</button>
            <a href="/core/templates/core/registro.html" class="btn btn-secondary boton">Registrarse</a>
            <a href="#" class="btn btn-link">Olvidé mi contraseña</a>
            <div class="mt-3">
                <p>Simular el ingreso como:</p>
                <a href="/core/templates/core/carrito.html" class="btn btn-info me-2">Cliente</a>
                <a href="/core/templates/core/administracion.html" class="btn btn-info">Administrador</a>
            </div>
        </div>
        <p id="mensajeError"></p>
    </form>
   

    <footer>
        <div class="container text-center my-5">
            <p>
                <a class="ab" href="#">Volver arriba</a>
                &nbsp;
                <a class="ab" target="_blank" href="https://web.whatsap"><img src="/core/static/core/img/wsp.png" style="width: 5%;" alt="" /> Whatsapp: +569 77777777</a>
                &nbsp;
                <a class="ab" target="_blank" href="https://web.facebook.com"><img src="/core/static/core/img/fb.png" style="width:5%;" alt="" /> Facebook</a>
                &nbsp;
                <a class="ab" target="_blank" href="https://www.instagram.com"><img src="/core/static/core/img/ig.png" style="width: 5%;" alt="" /> Instagram</a>
                &nbsp;
                <a class="ab" target="_blank" href=".."><img src="/core/static/core/img/correo.png" style="width: 5%;" alt="" /> Correo</a>
            </p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/core/static/core/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/core/static/core/js/validarIngreso.js"></script>
</body>
</html>
